<extend name="Public:base" />

<block name="style">
<link rel="stylesheet" type="text/css" href="__SCRIPTS__/metroinc/css/plugins.css"/>
<link rel="stylesheet" type="text/css" href="__SCRIPTS__/metroinc/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="__SCRIPTS__/metroinc/plugins/jquery-nestable/jquery.nestable.css"/>
<style>
	textarea{
		resize: none;	
	}
</style>
</block>

<block name="header">
	<include file="Public:header" />
</block>

<block name="left">
	<include file="Public:left" />
</block>

<block name="address">
	<include file="Public:address" />
</block>

<block name="content">
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom boxless tabbable-reversed">
				<ul class="nav nav-tabs">
					<li class="active"><a href="javascript:;">基础</a></li>
					<li><a href="javascript:;">设计</a></li>
					<li><a href="javascript:;">高级</a></li>
				</ul>
				<div class="tab-content">
					<form action="{:U('update')}" method="post" class="horizontal-form">
						<div class="tab-pane active">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">模型标识<span class="check-tips">（请输入文档模型标识）</span></label>
										<input type="text" class="form-control input-xlarge" name="name" value="{$info.name}">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">模型类型<span class="check-tips">（目前只支持独立模型和文档模型）</span></label>
										<div>
											<select name="extend" style="display: none;" class="bs-select form-control input-small" data-style="blue">
												<option value="0">独立模型</option>
												<option value="1">文档模型</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">模型名称<span class="check-tips">（请输入模型的名称）</span></label>
										<input type="text" class="form-control input-xlarge" name="title" value="{$info.title}">
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane hidden">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">字段管理<span class="check-tips">（只有新增了字段，该表才会真正建立）</span></label>
										<div class="control">
											<div class="portlet box light-grey">
												<div style="background: #EEE; border-bottom: 1px solid #CDCDCD; border-top: 1px solid #CDCDCD;">
													<a class="btn grey" style="color: #404040;" href="javascript:void(0);">字段列表</a>
													<a class="btn green" href="{:U('Attribute/add?model_id='.$info['id'])}" target="_balnk"><i class="fa fa-plus"></i> 新增</a>
													<a class="btn blue" href="{:U('Attribute/index?model_id='.$info['id'])}" target="_balnk"><i class="fa fa-flag"></i> 管理</a>
												</div>
												<div class="portlet-body form-horizontal">
													<div class="dd" style="height: 250px; overflow-y: auto;">
														<ol class="dd-list">
															<foreach name="fields" item="field" key="k">
																<li class="dd-item">
																	<div class="dd-handle"><input class="ids" type="checkbox" name="attribute_list[]" value="{$field['id']}" <if condition="in_array($field['id'],$info['attribute_list'])">checked="checked"</if> /> {$field['title']} [{$field['name']}]</div>
																</li>
															</foreach>
														</ol>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">表单显示排序<span class="check-tips">（直接拖动进行排序）</span></label>
										<div class="control">
											<volist name=":parse_field_attr($info['field_group'])" id="vo" mod="2">
												<div class="col-md-6" <eq name="mod" value="1">style="padding-right:0px;"<else />style="padding-left:0px;"</eq>>
													<div class="portlet box light-grey">
														<div style="background: #EEE; border-bottom: 1px solid #CDCDCD; border-top: 1px solid #CDCDCD;">
															<a class="btn grey" style="color: #404040;" href="javascript:void(0);">{$vo}</a>
														</div>
														<div class="portlet-body form-horizontal">
															<div class="dd field-sort" style="height: 250px; overflow-y: auto;">
																<ol class="dd-list">
																	<foreach name="fields" item="field" key="k">
																		<if condition="(($field['group'] eq $key) or($i eq 1 and !isset($field['group']))) and ($field['is_show'] eq 1)">
																			<li class="dd-item" data-mes="{$field['id']}" data-group= "{$key}">
																				<div class="dd-handle">
																					{$field['title']} [{$field['name']}]<input class="field-sort-val" type="hidden" name="field_sort[{$key}][]" value="{$field['id']}"/>
																				</div>
																			</li>
																		</if>
																	</foreach>
																</ol>
															</div>
														</div>
													</div>
												</div>
											</volist>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">字段别名定义<span class="check-tips">（用于表单显示的名称）</span></label>
										<div class="control">
											<textarea class="form-control" name="attribute_alias">{$info.attribute_alias}</textarea>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">列表定义<span class="check-tips">（默认列表模板的展示规则）</span></label>
										<div class="controls">
											<textarea class="form-control" name="list_grid">{$info.list_grid}</textarea>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">默认搜索字段<span class="check-tips">（默认列表模板的默认搜索项）</span></label>
										<div class="control">
											<input type="text" name="search_key" class="form-control input-xlarge" value="{$info.search_key}">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">高级搜索字段<span class="check-tips">（默认列表模板的高级搜索项）</span></label>
										<div class="controls">
											<input type="text" class="form-control input-large" name="search_list" value="{$info.search_list}">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">表单显示分组<span class="check-tips">（用于表单显示的分组，以及设置该模型表单排序的显示）</span></label>
										<div class="control">
											<input type="text" class="form-control input-large" name="field_group" value="{$info.field_group}">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane hidden">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">列表模板<span class="check-tips">（自定义的列表模板，放在App\Admin\View\Think下，不写则使用默认模板）</span></label>
										<div class="control">
											<input type="text" class="form-control" name="template_list" value="{$info.template_list}">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">新增模板<span class="check-tips">（自定义的新增模板，放在App\Admin\View\Think下，不写则使用默认模板）</span></label>
										<div class="control">
											<input type="text" class="form-control" name="template_add" value="{$info.template_add}">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">编辑模板<span class="check-tips">（自定义的编辑模板，放在App\Admin\View\Think下，不写则使用默认模板）</span></label>
										<div class="control">
											<input type="text" class="form-control" name="template_edit" value="{$info.template_edit}">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">列表数据大小<span class="check-tips">（默认列表模板的分页属性）</span></label>
										<div class="control">
											<input type="text" class="form-control" name="list_row" value="{$info.list_row}">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="hidden" name="id" value="{$info['id']}"/>
							<button type="submit" class="btn green ajax-post" target-form="horizontal-form">确 定</button>
							<button class="btn blue" onclick="javascript:history.back(-1);return false;">返 回</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="script">
<script type="text/javascript" src="__SCRIPTS__/metroinc/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="__SCRIPTS__/metroinc/scripts/custom/bootstrapSelect.js"></script>
<script type="text/javascript" src="__SCRIPTS__/metroinc/plugins/jquery-nestable/jquery.nestable.js"></script>
<script>
Index.setValue("extend", {$info.extend|default=0});
$(function(){
	BootstrapSelect.init();
	$('.field-sort').nestable({maxDepth:1}).on('change', function(e){
        if (window.JSON) {
        	var data = [];
        	$(".field-sort").each(function(index,element){
        		data = $.merge(data,$(element).nestable('serialize'));
        	})
			var obj_json =  eval(window.JSON.stringify(data));
			$(".field-sort-val").each(function(index,element){
				$(element).val(obj_json[index].mes.toString());
			})
        } else {
        	Message.error({message:"您的浏览器不支持JSON操作!您将不能排序插件!"});
        }
	});
})
$("ul.nav li a").click(function(){
	$(this).parents("li").siblings().removeClass("active");
	$(this).parents("li").addClass("active");
	$(".tab-content .tab-pane.active").removeClass("active").addClass("hidden");
	$(".tab-content .tab-pane").eq($(this).parents("li").index()).removeClass("hidden").addClass("active");
})
</script>
</block>