<extend name="Public:base" />

<block name="style">
	<style>
		.table-bordered > thead > tr > td,
		.table-bordered > tbody > tr > td,
		.table-bordered > tfoot > tr > td {
			border: none;
			border-bottom: 1px solid #DDD;
		}
	</style>
</block>

<block name="header">
	<include file="Public:header" />
</block>

<block name="left">
	<include file="Public:left" />
</block>

<block name="address">
	<include file="Public:address" />
</block>

<block name="content">
	<div class="row">
		<div class="col-md-6">
			<a class="btn green" href="{:U('Model/add')}"><i class="fa fa-plus"> 新增</i></a>
	        <button class="btn blue ajax-post" target-form="ids" ajax-confirm="你确定要批量启用嘛?" url="{:U('Model/setStatus',array('status'=>1))}">
	        	<i class="fa fa-check"> 启用</i>
	        </button>
	        <button class="btn red ajax-post" target-form="ids" ajax-confirm="你确定要批量禁用嘛?" url="{:U('Model/setStatus',array('status'=>0))}">
	        	<i class="fa fa-minus-circle"> 禁用</i>
	        </button>
	        <a class="btn yellow" href="{:U('Model/generate')}">
	        	<i class="fa fa-fire"> 生成</i>
	       	</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="menu-form" action="{:U('del')}"  method="post">
				<table class="table table-advance table-bordered margin-top-10">
					<tr class="bg-grey">
						<th colspan="10">
							<i class="fa fa-th"></i>&nbsp;菜单信息
						</th>
					</tr>
					<tr class="bg-grey">
						<th width="20">
							<input onchange="Index.checkAll(this,'ids[]')" value="" type="checkbox">
						</th>
						<td width="45" class="text-center">编号</td>
                        <td width="200">标识</td>
                        <td width="200">名称</td>
                        <td width="200">创建时间</td>
                        <td>状态</td>
                        <td width="180">操作</td>
					</tr>
					<notempty name="_list">
						<volist name="_list" id="vo">
							<tr>
					            <th><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></th>
								<th class="text-center"><span class="badge badge-error">{$vo.id}</span></th>
								<td><span class="badge badge-warning">{$vo.name}</span></td>
								<td><a class="badge badge-success" data-id="{$vo.id}" href="{:U('model/edit?id='.$vo['id'])}">{$vo.title}</a></td>
								<td><span class="badge badge-info">{$vo.create_time|time_format}</span></td>
								<td><span class="badge <eq name="vo.status" value="1">badge-success<else />badge-error</eq>">{$vo.status_text}</span></td>
								<td>
									<a class="badge badge-primary" href="{:U('think/lists?model='.$vo['name'])}">数据</a>
									<eq name="vo.status" value="1">
										<a class="badge badge-warning ajax-get" href="{:U('model/setstatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}">{$vo.status|show_status_op}</a>
									<else/>
										<a class="badge badge-success ajax-get" href="{:U('model/setstatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}">{$vo.status|show_status_op}</a>
									</eq>
									<a class="badge badge-success" href="{:U('model/edit?id='.$vo['id'])}">编辑</a>
									<a class="badge badge-error ajax-get" href="{:U('model/del?ids='.$vo['id'])}">删除</a>
					            </td>
							</tr>
						</volist>
					<else/>
						<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
					</notempty>
				</table>
			    <div class="page">
			        {$_page}
			    </div>
			</form>
		</div>
	</div>
</block>

<block name="script">
<script>
highlight_subnav("{:U('Model/index')}");
</script>
</block>