<extend name="Public:base" />

<block name="style">
<style>
	.xubox_main{
		min-height: 100px;
	}
</style>
</block>

<block name="content">
<button onclick="Index.success();">成功</button>
<button onclick="Index.error();">失败</button>
<button onclick="Index.info();">信息</button>
<button onclick="Index.warning();">注意</button>
<button onclick="Index.tips('不带关闭的tips',this)">tips1</button>
<button onclick="Index.tipsx('带关闭的tips',this)">tips2</button>
<button onclick="Index.login('{:U("User/login")}')">登陆框</button>
<button onclick="Index.register('{:U("User/register")}')">注册框</button>
</block>

<block name="script">
<script></script>
</block>