<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>涩妹子</title>
		<meta name="description" content="涩妹子介绍。" />
		<meta name="keywords" content="涩妹子|yy聊天|美女视频|美女直播|视频交友|在线音乐|美女主播" />
		<link type="text/css" href="__CSS__/base.css" rel="stylesheet" />
		<link type="text/css" href="__CSS__/tipswindown.css" rel="stylesheet" />
		<link type="text/css" href="__CSS__/validate.css" rel="stylesheet" />
		<script type="text/javascript" src="__JS__/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/tipswindown.js"></script>
		<script type="text/javascript" src="__JS__/validate.pack.js"></script>
	</head>

	<body>
		<div class="header">
			<div class="top">
				<div class="loog fl">
					<a href="#">
						<img src="__IMG__/logo.jpg" width="296" height="62" />
					</a>
				</div>
				<ul class="fr">
					<form action="{:U('Otp/index')}" method="post" class="test">
						<input type="text" name="token" value="{:getToken()}" />
						<li><input type="submit" value="测试" /></li>
					</form>
					<if condition="is_login()">
						<li>
							<a href="javascript:;" class="yellow">您好,{:get_username()}</a>
							<a href="{:U('User/logout')}" class="logout yellow" onclick="return logout(this);">退出</a>
						</li>
					<else />
						<li><a href="javascript:;" class="login11 yellow">登录</a></li>
						<li><a href="javascript:;" class="reg11 yellow">注册</a></li>
					</if>
				</ul>
			</div>
		</div>
		内容
		<div class="footer">
			<p>视听许可证1910441号</p>
			<p>版权所有@2014 semeizhi.com , All rights reserved</p>
		</div>

		<div class="loginID" style="display:none">
			<div class="loginclass">
				<div class="left fl">
					<p>帐号登录</p>
					<form action="{:U('User/login')}" method="post" onSubmit="return checkForm(this);">
						<div class="line">
							<input name="username" onBlur="checkInput(this)" type="text" autocomplete="off" class="inputxt i1" regtip="^\w+$" value="帐号或邮箱" onfocus="if (value =='帐号或邮箱'){value =''}" />
							<div class="vaispan" look="easyTip">帐号或邮箱</div>
						</div>

						<div class="line">
							<input name="password" onBlur="checkInput(this)" type="password" autocomplete="off" class="inputxt i2" regtip="^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,30}$" value="" />
							<div class="vaispan" look="easyTip">密码由6-30位数字或字母组成，不包含特殊字符</div>
						</div>

						<div class="line line1">
							<input type="submit" class="button" value="登录">
							<div class="qq">社交账户登录</div>
							<a class="qq" href="#"></a>
						</div>
						<div class="tips" style="display: none;">用户名错误</div>
					</form>
				</div>

				<div class="right fl">
					<p>没有账号</p>
					<p><a href="#" class="reg11" onClick="hideWhichDialog()">马上注册</a>
					</p>
				</div>
			</div>
		</div>

		<div class="regID" style="display:none">
			<div class="regclass">
				<div class="left fl">
					<p>帐号注册</p>
					<form action="{:U('User/register')}" method="post" onSubmit="return checkRegForm(this);">
						<div class="line">
							<input name="username" onBlur="checkInput(this)" type="text" autocomplete="off" class="inputxt i1" regtip="^\w+$" value="输入你想注册的帐号" onfocus="if (value =='输入你想注册的帐号'){value =''}" />
							<div class="vaispan" look="easyTip">输入你想注册的帐号</div>
						</div>

						<div class="line">
							<input name="email" onBlur="checkInput(this)" type="text" autocomplete="off" class="inputxt i3" regtip="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" value="输入你的邮箱" onfocus="if (value =='输入你的邮箱'){value =''}" />
							<div class="vaispan" look="easyTip">格式：如23231590@163.com</div>
						</div>

						<div class="line">
							<input name="password" onBlur="checkInput(this)" type="password" value="" autocomplete="off" class="inputxt i2" regtip="^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,22}$" value="******" onfocus="if (value =='******'){value =''}" />
							<div class="vaispan" look="easyTip">密码由6-22位数字或字母组成，不包含特殊字符</div>
						</div>


						<div class="line">
							<input name="repassword" onBlur="checkInput(this)" type="password" value="" autocomplete="off" class="inputxt i2" regtip="^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,22}$" value="******" onfocus="if (value =='******'){value =''}" />
							<div class="vaispan" look="easyTip">第一次密码和第二次密码输入的不一致</div>
						</div>
						
						<div class="line line1">
							<input type="submit" class="button" value="注册" />
						</div>
						
						<div class="tips" style="display: none;">用户名错误</div>
					</form>
				</div>

				<div class="right fl">
					<p>已有账号</p>
					<p><a href="#" class="login11" onClick="hideWhichDialog1()">马上登录</a></p>
					<h3>社交账户登录</h3>
					<h4><a href="#"></a></h4>
				</div>
			</div>
		</div>
	</body>

</html>