<extend name="Public:base" />

<block name="style">
<style>
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: none;
	border-bottom: 1px solid #DDD;
}
</style>
</block>

<block name="header">
	<include file="Public:header" />
</block>

<block name="left">
	<include file="Public:left" />
</block>

<block name="address">
	<include file="Public:address" />
</block>

<block name="content">
	<div class="row">
		<div class="col-md-12">
			<button class="btn green ajax-post" ajax-confirm="您确定要还原这些选项么?" url="{:U('article/permit')}" target-form="ids"><i class="fa fa-retweet"> 还原</i></button>
			<a class="btn red ajax-get"  href="{:U('article/clear')}"><i class="fa fa-trash-o"> 清空</i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="config-form" action="{:U('Config/del')}"  method="post">
				<table class="table table-advance table-bordered margin-top-10">
					<tr class="bg-grey">
						<th colspan="9">
							<i class="fa fa-file-text-o"></i>&nbsp;回收站 ( 数量 : <font color="#FF0000">{:count($list)}</font> )
						</th>
					</tr>
					<tr class="bg-grey">
						<th width="20">
							<input onchange="Index.checkAll(this,'ids[]')" value="" type="checkbox">
						</th>
	                    <td  class="text-center" width="50">编号</td>
						<td>标题</td>
						<td width="150">创建者</td>
						<td width="150">类型</td>
						<td width="150">分类</td>
						<td width="150">删除时间</td>
						<td width="150">操作</td>
					</tr>
					<notempty name="list">
						<volist name="list" id="vo">
							<tr>
					            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
								<th><span class="badge badge-error">{$vo.id}</span></th>
								<td>{$vo.title}</td>
								<td><span class="badge badge-success">{$vo.username}</span></td>
								<td><span class="badge badge-warning">{:get_document_type($vo['type'])}</span></td>
								<td><span class="badge badge-warning">{:get_cate($vo['category_id'])}</span></td>
								<td><span class="badge badge-info">{$vo.update_time|time_format}</span></td>
								<td>
									<a class="badge badge-success ajax-get" href="{:U('article/permit?ids='.$vo['id'])}">还原</a>
					            </td>
							</tr>
						</volist>
					<else/>
						<td colspan="9" class="text-center">暂时还没有内容! </td>
					</notempty>
				</table>
			    <div class="page">
			        {$_page}
			    </div>
			</form>
		</div>
	</div>
</block>

<block name="script">
<script>
	highlight_subnav('{:U("article/recycle")}');
</script>
</block>