<volist name="tree" id="list">
<tr>
	<form action="{:U('edit')}" method="post">
		<td><input type="text" name="sort" class="form-control input-xsmall" style="padding: 2px 4px; height: 22px;" value="{$list.sort}"></td>
		<td>{$list['allow_publish']?'<span class="badge badge-success">是</span>':'<span class="badge badge-important">否</span>'}</td>
		<td><span class="badge badge-success"><eq name="list['pid']" value="0">根分类<else />{:get_category_title($list['pid'])}</eq></span></td>
		<td>
			<input type="hidden" name="id" value="{$list.id}">
			<php>
				$level = get_category_level($list['id']);
			</php>
			<div class="input-group <php>echo 'level'.$level;</php>">
				<input type="text" name="title" class="form-control" style="padding: 2px 4px; height: 22px;" value="{$list.title}">
				<span style="padding: 0px 1px;" 
				<php>
					if($level==4){
						echo 'class="input-group-btn tooltips" data-placement="left" data-original-title="该分类已经不能再添加下级分类了">';
					}else{
						echo 'class="input-group-btn">';
					}
				</php>
				<button <php>if($level==4){echo 'class="btn red" disabled';}else{echo 'class="btn blue"';}</php> onclick='location.href="{:U('add?pid='.$list['id'])}"' type="button" style="padding: 1px 5px;">
					<i class="fa fa-plus"></i>
				</button>
				</span>
			</div>
		</td>
		<td class="ajax-label"></td>
		<td>
			<a class="badge badge-success" href="{:U('edit?id='.$list['id'].'&pid='.$list['pid'])}">编辑</a>
			<a class="badge <if condition='$list.status == 0'>badge-primary<else />badge-warning</if> ajax-get" href="{:U('setStatus?ids='.$list['id'].'&status='.abs(1-$list['status']))}">
				{$list.status|show_status_op}
			</a>
			<a class="badge badge-error ajax-get" ajax-confirm="您是否要删除嘛?" href="{:U('remove?id='.$list['id'])}">删除</a>
			<a class="badge badge-primary" href="{:U('operate?type=move&from='.$list['id'])}">移动</a>
			<a class="badge badge-success" href="{:U('operate?type=merge&from='.$list['id'])}">合并</a>
		</td>
	</form>
	<notempty name="list['_']">
		{:R('Category/tree', array($list['_']))}
	</notempty>
</tr>
</volist>