<!-- 内容头部开始 -->
<div class="row">
	<div class="col-md-12">
		<!-- 地址栏开始 -->
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html">首页</a>
			</li>
			&nbsp;<i class="fa fa-angle-right"></i>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="left" data-original-title="当前时间">
					<i class="fa fa-calendar"></i>
					<span></span>
				</div>
			</li>
		</ul>
		<!-- 地址栏结束 -->
	</div>
</div>
<!-- 内容头部结束-->