<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- 头部开始 -->
<head>
<meta charset="utf-8"/>
<title>{$meta_title}-后台管理系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="{:C('WEB_SITE_DESCRIPTION')}" name="description"/>
<meta content="{:C('WEB_SITE_KEYWORD')}" name="keywords"/>
<meta content="{:C('WEB_SITE_TITLE')}" name="author"/>

<!-- 主要管理样式开始 -->
<link href="__SCRIPTS__/metroinc/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__SCRIPTS__/metroinc/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- 主要管理样式结束 -->

<!-- 公共JAVASCRIPT加载及初始化开始 -->
<script src="__SCRIPTS__/metroinc/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<!-- jQuery应用迁移辅助插件 -->
<script src="__SCRIPTS__/metroinc/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- 插件样式开始 -->
<!-- 插件样式结束 -->

<!-- 主题样式开始  -->
<link href="__SCRIPTS__/metroinc/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href="__SCRIPTS__/metroinc/css/style.css" rel="stylesheet" type="text/css"/>
<link href="__SCRIPTS__/metroinc/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__SCRIPTS__/metroinc/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<!-- 主题样式结束 -->

<!--页面icon开始-->
<link rel="shortcut icon" href="favicon.ico"/>
<!--页面icon结束-->

<!-- 自定义样式开始 -->
<block name="style"></block>
<!-- 自定义样式结束 -->

</head>
<!-- 头部结束 -->

<!-- 页面开始 -->
<body class="page-header-fixed page-sidebar-fixed page-footer-fixed">
	
<!-- 页面头部开始 -->
<block name="header"></block>
<!-- 页面头部结束 -->

<div class="clearfix"></div>

<!-- 页面中部开始 -->
<div class="page-container">
	
	<!-- 页面左侧菜单开始 -->
	<block name="left"></block>
	<!-- 页面左侧菜单结束 -->
		
	<!-- 内容开始 -->
	<div class="page-content-wrapper">
		<div class="page-content">
			
			<!-- 地址栏开始 -->
			<block name="address"></block>
			<!-- 地址栏结束 -->
			
			<!-- 主要内容开始 -->
			<block name="content"></block>
			<!-- 主要内容结束 -->
		</div>
	</div>
	<!-- 内容结束 -->
	
</div>
<!-- 页面中部结束 -->

<!-- 底部开始 -->
<if condition="C('SHOW_PAGE_TRACE') eq 0">
	<include file="Public:footer" />
</if>
<!-- 底部结束 -->

<!--[if lt IE 9]>
<script src="__SCRIPTS__/metroinc/plugins/respond.min.js"></script>
<script src="__SCRIPTS__/metroinc/plugins/excanvas.min.js"></script>
<![endif]-->

<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__SCRIPTS__/metroinc/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<!-- Bootstrap插件 -->
<script src="__SCRIPTS__/metroinc/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- 鼠标移动显示下拉框体插件 -->
<script src="__SCRIPTS__/metroinc/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<!-- 左侧菜单的滚动条插件 -->
<script src="__SCRIPTS__/metroinc/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- 对话框 插件加载 -->
<script src="__SCRIPTS__/metroinc/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<!-- 插件控制中心加载 -->
<script src="__SCRIPTS__/metroinc/scripts/core/app.js" type="text/javascript"></script>
<!-- 默认设置加载 -->
<script src="__SCRIPTS__/metroinc/scripts/custom/index.js" type="text/javascript"></script>
<!-- Message框加载 -->
<script src="__SCRIPTS__/metroinc/scripts/custom/message.js" type="text/javascript"></script>
<!-- Dialog框加载 -->
<script src="__SCRIPTS__/metroinc/scripts/custom/dialog.js" type="text/javascript"></script>
<!-- 公共插件初始化-->

<script>
jQuery(document).ready(function() {
   // JAVACSRIPT核心库初始化
   App.init();
   Index.init();
});
</script>
<!-- 公共JAVASCRIPT加载及初始化结束  -->

<!-- 子页面JAVASCRIPT加载开始  -->
<block name="script"></block>
<!-- 子页面JAVASCRIPT加载结束  -->

<!-- JAVASCRIPT结束 -->

</body>
<!-- 页面结束 -->
</html>