<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
			<volist name="__MENU__" id="menu">
                <li>
                	<if condition='array_key_exists("child",$menu)'>
                		<a href="javascript:;">
                	<else />
                		<a href="{$menu.url|U}">
                	</if>
						<i class="fa fa-home"></i>
						<span class="title">{$menu.title}</span>
						<span class="selected"></span>
						<span class="arrow"></span>
					</a>
					<if condition='array_key_exists("child",$menu)'>
						<ul class="sub-menu">
							<foreach name="menu.child" item="vo" >
								<li>
									<if condition="!array_key_exists('id',$vo)">
										<a href="javascript:;">
									<else />
										<a href="{$vo.url|U}">
									</if>
										<i class="fa fa-home"></i>
										<span class="title">{$key}</span>
										<span class="selected"></span>
										<if condition="!array_key_exists('id',$vo)">
											<span class="arrow"></span>
										</if>
									</a>
									<if condition="!array_key_exists('id',$vo)">
										<ul class="sub-menu">
											<volist name="vo" id="item">
												<li>
													<a href="{$item.url|U}">
														<i class="fa fa-home"></i>
														<span class="title">{$item.title}</span>
													</a>
												</li>
											</volist>
										</ul>
									</if>
								</li>
							</foreach>
						</ul>
					</if>
				</li>
            </volist>
		</ul>
	</div>
</div>
<script>
	function highlight_subnav(url){
		var now=$('.page-sidebar').find('a[href="'+url+'"]');
		now.parents("li").addClass("active")
		now.parents("li").find();
//		nowLink.removeClass("arrow");
//		nowLi.addClass("active");
//	    nowLi.parent("ul").parent("li").find("a").find(".arrow").eq(0).addClass("open");
//	    nowLi.parent("ul").parent("li").addClass("open");
//	    nowLi.parent("ul").parent("li").find("ul").eq(0).css({"display":"block"});
//	    nowLi.parent("ul").parent("li").parent("ul").parent("li").find("a").find(".arrow").eq(0).addClass("open");
//	    nowLi.parent("ul").parent("li").parent("ul").parent("li").addClass("active");
		
	}
</script>
