<extend name="Public:base" />

<block name="style">
	<style>
		.table-bordered > thead > tr > td, 
		.table-bordered > tbody > tr > td, 
		.table-bordered > tfoot > tr > td {
			border:none;
			border-bottom: 1px solid #DDD;
		}
	</style>
</block>

<block name="header">
	<include file="Public:header" />
</block>

<block name="left">
	<include file="Public:left" />
</block>

<block name="address">
	<include file="Public:address" />
</block>

<block name="content">
	<div class="row">
		{:hook('AdminIndex',array('sb_channel'=>I('sb_channel_search')))}
	</div>

	<div class="clearfix"></div>

	<!--<div class="row">
		<div class="col-md-12">
			<div class="portlet">
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-advance table-bordered">
							<tr class="bg-grey">
								<th colspan="4">
									<i class="fa fa-windows color-white"></i>&nbsp;系统信息
								</th>
							</tr>
							<tr>
								<td width="35%" class="highlight">
									<div class="success"></div>&emsp;服务器操作系统
								</td>
								<td width="15%">
									<span class="badge badge-error">不支持</span>
								</td>
								<td width="35%" class="highlight">
									<div class="success"></div>&emsp;WEB服务器
								</td>
								<td width="15%">
									<span class="badge badge-success">支持</span>
								</td>
							</tr>
							<tr>
								<td class="highlight">
									<div class="success"></div>&emsp;服务器操作系统
								</td>
								<td>
									<span class="badge badge-error">不支持</span>
								</td>
								<td class="highlight">
									<div class="success"></div>&emsp;WEB服务器
								</td>
								<td>
									<span class="badge badge-success">支持</span>
								</td>
							</tr>
							<tr>
								<td class="highlight">
									<div class="success"></div>&emsp;服务器操作系统
								</td>
								<td>
									<span class="badge badge-error">不支持</span>
								</td>
								<td class="highlight">
									<div class="success"></div>&emsp;WEB服务器
								</td>
								<td>
									<span class="badge badge-success">支持</span>
								</td>
							</tr>
							<tr>
								<td class="highlight">
									<div class="success"></div>&emsp;服务器操作系统
								</td>
								<td>
									<span class="badge badge-error">不支持</span>
								</td>
								<td class="highlight">
									<div class="success"></div>&emsp;WEB服务器
								</td>
								<td>
									<span class="badge badge-success">支持</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>-->
</block>

<block name="script">

</block>