<extend name="Public:base" />

<block name="style">
	<style>
		.table-bordered > thead > tr > td, 
		.table-bordered > tbody > tr > td, 
		.table-bordered > tfoot > tr > td {
			border:none;
			border-bottom: 1px solid #DDD;
		}
	</style>
</block>

<block name="header">
	<include file="Public:header" />
</block>

<block name="left">
	<include file="Public:left" />
</block>

<block name="address">
	<include file="Public:address" />
</block>

<block name="content">
	<div class="row">
		{:hook('AdminIndex',array('sb_channel'=>I('sb_channel_search')))}
	</div>

	<div class="clearfix"></div>
</block>

<block name="script">
<script>
	highlight_subnav("{:U('Index/index')}");
</script>
</block>